*{
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 5px 10px;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
header{
  text-align: center;
  margin: 150px auto 150px;
}
